name: Detekt
on:
  push:
    branches:
      - main
jobs:
  static-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK 17
        id: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Run detekt
        run: ./gradlew detekt
